.product-item img {
    max-width: 250px;
    max-height: 250px;
}

.btn-favorite{
    border: 0;
    background-color: transparent;
    height: 50px;
}

.btn-product-link{
    align-items: center !important;
    flex-direction: column !important;
    display: flex !important;
    text-decoration: none;
}