.product-item img {
    width: 250px;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.btn-favorite2{
    border: 0;
    background-color: transparent;
    height: 50px;
}

.btn-product-link{
    align-items: center !important;
    flex-direction: column !important;
    display: flex !important;
    text-decoration: none;
}

.interaction-buttons{
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-top: 0px;
    font-size: 18px;
}