
.title1 { 
    font-size: 19px;
    padding-left: 5px;
    padding-top: 10px;
    width: 90%;
    height: fit-content;
 } 
/* .body1 {
    font-size: 12px;
    padding-left: 35px;
    padding-top: 10px;
    width: 90%;
    height: fit-content;
} */

.container1 {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 70%;
    height: fit-content;
    background-color: rgb(206, 206, 206);

} 

div {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: 18px;
}